.App {
  height: 100vh;
  width: 100%;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ace-editor {
  background-color: #191234 !important;
  color: #fff;
  width: 100%;
  height: 100%;
}

.ace-editor .ace_gutter {
  background-color: #191234;
  color: #fff;
}

.ace-editor .ace_list {
  color: #d8d8d8;
}

.ace-editor .ace_gutter-active-line {
  background-color: #373142;
}

.ace-editor .ace_heading {
  color: #82d8d8;
}

.ace-editor .ace_cursor {
  color: #fff;
}

.ace-editor .ace_string {
  color: #e54b4b;
}